.admin-header {
    display: flex;
    justify-content: space-between;
}

.text-center {
    margin: 0 auto;
    max-width: 800px!important;
    margin-top: 50px
}

.center {
    text-align: center;
}